<!-- student-edit.page.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Editar Presença</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Seu nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CCR: </ion-label>
    <ion-input [(ngModel)]="data.ccr" placeholder="CCR do curso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Curso: </ion-label>
    <ion-input [(ngModel)]="data.curse" placeholder="Seu Curso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Presença </ion-label>
    <ion-checkbox [(ngModel)]="data.presence"></ion-checkbox>
  </ion-item>

  <ion-button (click)="update()" color="success" size="small">
    Atualizar
  </ion-button>
  <ion-button [routerLink]="[ '/student-list']" color="danger" size="small">
    Cancelar
  </ion-button>
</ion-content>