<!-- usuario-create.html-->
<ion-header>
  <ion-toolbar color='dark'>
    <ion-title class="ion-text-center">Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Digite seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>E-mail: </ion-label>
    <ion-input [(ngModel)]="data.email" placeholder="Endereço de e-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo: </ion-label>
    <ion-select [(ngModel)]="data.tipo" placeholder="Tipo de Usuário">
      <ion-select-option value="admin">Administrador</ion-select-option>
      <ion-select-option value="aluno">Aluno</ion-select-option>
      <ion-select-option value="professor">Professor</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Senha: </ion-label>
    <ion-input type="password" [(ngModel)]="data.senha" placeholder="Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="success" (click)="submitForm()">Enviar </ion-button>
    <ion-button color="dark" [routerLink]="['/student-list']">
      Voltar
    </ion-button>
  </ion-item>


</ion-content>