<!-- student-create.html-->
<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>Cadastro de Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Digite seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CCR: </ion-label>
    <ion-input [(ngModel)]="data.ccr" placeholder="CCR da disciplina"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Curso: </ion-label>
    <ion-input [(ngModel)]="data.curse" placeholder="Nome do curso"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Presença </ion-label>  
    <ion-checkbox color="dark" [(ngModel)]="data.presence" checked=""></ion-checkbox>
  </ion-item>

<ion-item >
  <ion-button color="success" (click)="submitForm()">Enviar </ion-button>
</ion-item>

</ion-content>