
  @media (max-width: 767px) {
    .table-responsive {
      display: block;
      position: relative;
      width: 100%;
    }
    
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
      display: block;
    }
    .table-responsive td,
    .table-responsive th {
      height: 35px;
    }
    .table-responsive thead {
      float: left;
    }
    .table-responsive tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
    .table-responsive tbody tr {
      display: inline-block;
    }
  }
  @media (max-width: 360px) {
    
    .table-action thead {
      display: none;
    }
    .table-action tr {
      border-radius: 10px;
      border-bottom: 1px solid #dddddd;
    }
    .table-action td {
      border:0;
    }
    .table-action td:not(:first-child) {
      display: block;
    }
  }
  
  